/*my first css*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}

img{
    border: 10px solid green;
}

h1{
    border: 5px dotted red:
    color:white;
    background-color: :-moz-only-whitespace;
    text-align: center;
    border: 5px dashed blue;
}

blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;

}

cite{
    font-size: 1.5rem;
    font-weight: bold;
}

.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
}

hr{
    color: orange;
}

h3{
    color: orange;
}

ul{
    color: gray;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: brown;
    font-size: 2rem;
}

a:visited {
    color: green;
    font-weight: normal;
}

a:hover {
    color: orange;
    text-decoration: underline;
    background-color: black;
}

p{
    background-color: black;
    color: white;
}